.bodybg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: rgb(35, 35, 36);
}

.button1 {
  border-radius: 0.6rem;
  background: transparent;
  border: none;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  align-self: center;
  font-size: 20px;
  font-weight: 400;
  margin: 30px;
  text-align: center;
  padding: 20px 40px;
  cursor: pointer;
  background: rgb(170, 250, 91);
  box-sizing: border-box;
}

.button1:hover {
  box-shadow: 0 5px 5px 0 rgb(233, 139, 16);
  transform: translateY(-20px);
  background: rgb(122, 199, 250);
}

.button2 {
  border-radius: 0.6rem;
  background: transparent;

  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  align-self: center;
  font-size: 20px;
  font-weight: 400;
  margin: 30px;
  text-align: center;
  padding: 20px 40px;
  cursor: pointer;

  box-sizing: border-box;
}
.button2 {
  border: solid 3px rgb(248, 60, 107);
}
.button2:hover {
  transition: ease-in 1s;

  box-shadow: inset 300px 0 0 0 rgb(182, 3, 71);
  color: rgb(1, 204, 177);
}

.button3 {
  /* border-radius: 0.6rem; */
  background: transparent;

  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  align-self: center;
  font-size: 20px;
  font-weight: 400;
  margin: 30px;
  text-align: center;
  padding: 20px 40px;
  cursor: pointer;

  /* box-sizing: border-box; */
}

.button3 {
  border: solid 2px rgb(97, 107, 240);
}
.button3:hover {
  background: rgb(97, 107, 240);
  color: blue;
  transition: ease-in-out 0.4s;
}

.button4 {
  /* border-radius: 0.6rem; */
  background: transparent;

  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  align-self: center;
  font-size: 20px;
  font-weight: 400;
  margin: 30px;
  text-align: center;
  padding: 20px 40px;
  cursor: pointer;

  /* box-sizing: border-box; */
}
.button4 {
  border: solid 2px rgb(214, 247, 29);
}
.button4:hover {
  color: yellow;
  box-shadow: 0 0 5px yellow, 0px 0px 20px yellow, 0 0 20px yellow,
    0 0 80px yellow;
}

.button5 {
  border-radius: 0.6rem;
  background: transparent;

  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  align-self: center;
  font-size: 20px;
  font-weight: 400;
  margin: 30px;
  text-align: center;
  padding: 20px 40px;
  cursor: pointer;

  box-sizing: border-box;
}

.button5 {
  background-color: transparent;
  border: 5px solid red;
  color: rgb(255, 255, 255);
}
.button5:hover {
  animation: beats 1s infinite;
  transition: 0.3s;
}
@keyframes beats {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.8);
    box-shadow: 10px 10px 0 rgb(150, 17, 17);
  }
  100% {
    transform: scale(1);
  }
}

.button6 {
  border-radius: 0.6rem;
  background: transparent;
  border: none;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  align-self: center;
  font-size: 20px;
  font-weight: 400;
  margin: 30px;
  text-align: center;
  padding: 20px 40px;
  cursor: pointer;

  box-sizing: border-box;
}
.button6 {
  background: #3300ea;
}

.button6:hover {
  animation: vibrate 100ms;
  animation-iteration-count: infinite;
}
@keyframes vibrate {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
